doctype html
html

    head
        title Change Password
        
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')

        link(rel='stylesheet' type='text/css' href='/css/change_password.css')

        script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc' crossorigin='anonymous')

        meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1.0')

        script.
            $(document).ready(function(){
                document.querySelector('body').style.height = screen.availHeight;
                document.querySelector('body').style.width = screen.availWidth;
            });
    

    body
        div
            div#top_bar
                button.open_btn(onclick='openNav()') &#9776;
                
                label(for='top_list')
                    select#top_list(name='log_out') 
                        option(value='userName') Mosammat Rifaa Juhani
                        option(value='logOut') Log Out
                        

            div#side_bar
                p SIS 
                    a(href="javascript:void(0)" class="close_btn" onclick="closeNav()") &#9776;
                

                ul
                    li
                        a(href="/dashboard") Dashboard
                    li
                        a(href="/profile") Profile
                    li
                        a(href="/results") Result
                    li
                        a(href="10.220.20.12") Internet Acoount
                    li
                        a(href="/change_password") Change Password
            

            p#heading Change Password
          

            div#main_section
                form(class="form-group" action=" ...form handler...." method="POST") <!--write form handler-->
                    label Current Password
                        br 
                        input(type="password" name="current_passw" class="form-control")
                    
                    br
                    label New Password 
                        br 
                        input(type="password" name="new_password" class="form-control")
                    
                    br
                    label Confirm Password 
                        br
                        input(type="password" name="confirm_new_password" class="form-control")
                    
                    br
                    button(type="submit" class="btn btn-primary" style={"background-color": "blueviolet"}) Update
                    
        
        script(src="/frontend_js/side_bar.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
        script(src="/frontend_js/login.js")

        //-script
            //logging out and so....
