* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
    height: 650px;
    /* change to max-content*/
}

div.inside_form {
    display: inline-block;
    width: 47%;
    border: solid 2px grey;
    border-radius: 1rem;

    padding: 4rem;
    margin: 1.2vw;


}

div.input,
p {
    margin: 1rem;
}

p {
    font-size: 2vw;
    width: max-content;
    margin: auto;
    color: rgb(5, 56, 5);
    font-family: 'sans-serif';
    font-weight: 700;
}

input {
    padding: 0.5rem;
    width: max-content;
    height: 2rem;
    margin-left: 2rem;
}

input[type="radio"] {
    margin: 1px;
    height: max-content;
}

@media screen and (max-width: 720px) {

    form>.inside_form {
        display: block;
        width: 90%;
        margin: auto;
    }

    input{
        margin: 0px;
    }

    input[type="radio"]{

    }
    
    .inside_form > p {
        font-size: 1.5rem;
    }
}