doctype html
html

    head
        title Dashboard

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        

        link(rel="stylesheet" type="text/css" href=".\..\css\dashboard.css")

        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")

        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0")

        script.
                $(document).ready(function(){
                    document.querySelector('body').style.height = screen.availHeight;
                    document.querySelector('body').style.width = screen.availWidth;
                });

   

    body
        div
            div#top_bar
                label(for="top_list")
                    select#top_list(name="log_out")
                        option(value="userName") Mosammat Rifaa Juhani
                        option(value="logOut") Log Out

            p#heading Dashboard
            

            div#main_section

                div#profile(class="inner-box first_row")
                    a(href="/profile")
                        img(src=".\..\images\profile_icon.png")

                        p(style={"color": "royalblue",
                                 "font-size": "1.5em", 
                                 "display":"inline-block",
                                 "margin":"auto 20%"}) Profile

                div#course_reg(class="inner-box first_row")
                    a(href="/course_registration")
                        img(src=".\..\images\course_registration_2.jpg")

                div#results(class="inner-box")
                    a(href="/results")
                        img(src=".\..\images\results_icon_1.png")

                        br
                        span(style={"color": "royalblue", "font-size": "1.5em"}) Results

                div#change_passw.inner-box
                    a(href="/change_password")
                        img(src=".\..\images\change_passw_4.png")
                        br
                        span(style={"color": "royalblue", "font-size": "1.5em"}) Change Password
              
                div#int_acc.inner-box
                    a(href="10.220.20.12") //check this it should be the IP address-->
                        
                        img(src=".\..\images\internet_icon_1.png")

                        br
                        span(style={"color": "royalblue", "font-size": "1.5em"}) Internet Account


        script.  //pari nai 
            let drpdown = document.querySelector('select').value;
            if (drpdown === 'logOut') {
                // somehow log out
            }


