doctype html
html

    head
        title Log In

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0")

        link(rel="stylesheet" type="text/css" href=".\..\css\login_page.css")
       
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")

        script.
                $(document).ready(function(){
                    document.querySelector('body').style.height = screen.availHeight;
                    document.querySelector('body').style.width = screen.availWidth;
                });

    body
        div#sign_in
            img#logo(src=".\..\images\iut_logo.png" alt="logo of IUT")
            p Sign In To SIS 

            // will display when there is an error 
            span#errorMsg * The username and/or password do not match

            form(method="POST" action=".... form_handler ....")
                input(type="text" name="user_id" placeholder="User ID" required)
                br
                input(type="password" name="password" placeholder="Password" required)
                br
                label
                    input(type="checkbox" name="remember" style={"width": "20px",
                                                                  "height": "15px"}) Remember me

                br 

                button(class="btn btn-success" data-toggle="button" aria-pressed="false") Sign in 

        script.
            //form validation and display of error message
    
